<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HornosLosAndes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>UTIL.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaterialServlet</display-name>
    <servlet-name>MaterialServlet</servlet-name>
    <servlet-class>MaestroMateriales.Servlets.MaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialServlet</servlet-name>
    <url-pattern>/material</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesionServlet</display-name>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <servlet-class>UTIL.Servlets.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <url-pattern>/cerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpleadoServlet</display-name>
    <servlet-name>EmpleadoServlet</servlet-name>
    <servlet-class>Empleado.Servlets.EmpleadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadoServlet</servlet-name>
    <url-pattern>/empleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HornoServlet</display-name>
    <servlet-name>HornoServlet</servlet-name>
    <servlet-class>MaestroHornos.Servlets.HornoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HornoServlet</servlet-name>
    <url-pattern>/horno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SistemaDeComprasServlet</display-name>
    <servlet-name>SistemaDeComprasServlet</servlet-name>
    <servlet-class>Compras.Servlets.SistemaDeComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SistemaDeComprasServlet</servlet-name>
    <url-pattern>/comprar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProveedorServlet</display-name>
    <servlet-name>ProveedorServlet</servlet-name>
    <servlet-class>MaestroProveedores.Servlets.ProveedorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProveedorServlet</servlet-name>
    <url-pattern>/proveedor</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SesionFilter</display-name>
    <filter-name>SesionFilter</filter-name>
    <filter-class>FILTER.SesionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SesionFilter</filter-name>
    <servlet-name>LoginServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FacturaServlet</display-name>
    <servlet-name>FacturaServlet</servlet-name>
    <servlet-class>Compras.Servlets.FacturaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacturaServlet</servlet-name>
    <url-pattern>/factura</url-pattern>
  </servlet-mapping>
  
</web-app>